.btn {
    background-color: $main-color;
    width: 160px;
    height: 45px;
    border-radius: 20px;
    border-width: 0;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s;
    cursor: pointer;
    &_promo-main {
        display: block;
        margin: 39px auto 0;
        height: 57px;
        width: 230px;
        border-radius: 30px;
    }
    &_price {
        display: block;
        margin: 25px auto 0;
    }
    &:hover {
        background-color: #dc5238;
        box-shadow: 2px 2px 20px $main-color;
    }
    &:focus {
        outline: unset;
    }
    &:active {
        transform: scale(1.1);
    }
}
