.line {
    padding: 58px 0 75px 0;
    &_agent {
        background: url("../img/bg/china_bg.jpg") no-repeat 50% / cover;
    }
    &_managers {
        background: url("../img/bg/manager_bg.jpg") no-repeat 50% / cover;
    }
    &__img {
        display: flex;
        justify-content: center;
        img {
            padding: 21px 27px 30px;
            border: 1px solid #ffffff;
            border-radius: 100%;
        }
    }
    &__title {
        margin-top: 20px;
        color: #ffffff;
        font-size: 26px;
        font-weight: 700;
        text-align: center;
        line-height: 26px;
    }
    &__subtitle {
        margin-top: 14px;
        color: #ffffff;
        font-size: 19px;
        font-weight: 300;
        text-align: center;
        line-height: 27px;
    }
}
