.sidepanel {
    position: fixed;
    width: 338px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    transform: rotate(-90deg);
    top: 380px;
    left: -119px;
    &__link {
        transform: rotate(90deg);
        transition-property: all;
        transition: all ease 0.3s;
        &:hover {
            transform: rotate(180deg) scale(1.2);
            svg path {
                transition: all ease 0.3s;
                fill: $main-color;
            }
        }
    }
    &__divider {
        width: 70px;
        height: 2px;
        background-color: black;
    }
    &__text {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }
}
