.btn {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);
    background-color: #00c2f0;
    padding: 24px 43px 21px;
    border: 0;
    border-radius: 5px;

    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    transition: all 0.3s;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &:active {
        background-color: #049dc4;
    }
    &_promo {
        margin-bottom: 100px;
    }
}
